*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}
.enviar-derecha{
    margin-left: auto;
}
body{
    background: #e6e6fa;
}
h1{
    font-size: 2rem;
}
/*Navegador*/

#navegador{
    background: dimgray;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    max-width: 1100px;
    margin: auto;
}
nav ul {
    display: flex;

    align-items: center;
}
nav li{
    background: grey;
    padding: 5px;
    height: 20px;
    list-style: none;
    margin-right: 10px;
    border-radius: 2px;
}


nav li:hover{
    background: steelblue;
    cursor: pointer;
    padding: 5px;
    height: 20px;
    list-style: none;
    margin-right: 10px;
    border-radius: 2px;
}


/*Navegador*/



/*Contenedor*/

#contenedor{
    background: aliceblue;
    max-width: 1100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
}

#contenedorInterno{
    padding: 10px;
    flex-grow: 1;
    background: #fde6e8;

}

#contenedor aside{
    background: #bbd2ff;
    width: 300px;
    padding: 10px;
}
.categoria{
    display: flex;
    background: hotpink;
    padding: 10px;
    border-bottom: solid 1.5px deeppink;
    margin-bottom: 10px;
}


.articuloRelacionado{
    background: deepskyblue;
    width: 280px;
    margin-bottom: 5px;
    margin: auto;
    padding: 8px;
    color: aliceblue;
    transition: all 0.2s;
}
.articuloRelacionado:hover{
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0px 0px 5px 0px darkslategray;
}
.navPost{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.navPost div{
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
    border-top: solid 2px mediumpurple;
}
/*Contendor*/


/**
*Pie de pagina
**/


section#piedepagina {
    height: 100px;
    background: dimgray;
}
footer{
    display: flex;
    max-width: 1100px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-between;
}



/**
*Pie de pagina
**/


/**
*Ipad
**/



@media (max-width: 768px){
    #contenedor{
        flex-direction: column;
        margin-bottom: 0px;
    }
    #contenedor aside {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: #3cb2c8;
    }
    .articuloRelacionado {
        width: 47%;
    }
    nav, footer {
        max-width: 95%;
    }
    nav li.menu {
        padding-bottom: 25px;
    }
}



/**
*Ipad
**/





/**
*Movil
**/


@media (max-width: 380px){
    ul {
        max-width: 95%;
        flex-wrap: wrap-reverse;
    }
    .logo {
        margin: auto;
        margin-bottom: 10px;
    }
    nav li.menu {
        margin-left: 24px;
    }
    footer {
        padding-bottom: 0px;
        flex-direction: column;
        text-align: center;
        background: #414141;
        padding-bottom: 10px;
    }
    .articuloRelacionado {
        width: 100%;
    }
}



/**
*Movil
**/